# -*- yaml -*-
---
env:
  browser: true

globals:
  angular: false

rules:
  quotes:
  - 2
  - single
  - avoid-escape
  no-underscore-dangle: 0
  global-strict:
  - 2
  - always
  eqeqeq: 0
  space-in-brackets: 2
  space-after-keywords: 2
  space-unary-word-ops: 2
  brace-style: 2
  comma-style: 2
  no-lonely-if: 2
  no-trailing-spaces: 2
  max-len: 2
