# -*- yaml -*-
---
env:
  browser: true

globals:
  angular: false
  $: false
  SwiftClient: false

rules:
  quotes: 0
  no-underscore-dangle: 0
  no-global-strict: 0
  no-unused-vars:
  - 2
  - vars: all
    args: none
  eqeqeq: 0
  space-in-brackets: 2
  space-after-keywords: 2
  space-unary-word-ops: 2
  brace-style: 2
  no-lonely-if: 2
  no-trailing-spaces: 2
