language: node_js
node_js:
  - 0.10
env:
  - PATH=$PWD/node_modules/.bin:$PATH
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm start > /dev/null &
  - npm run update-webdriver
  - sleep 1 # give server time to start
script:
  - eslint app/js
  - karma start test/karma-travis.conf.js
  - protractor test/protractor-conf.js --browser=firefox
