/* app css stylesheet */

th.toggle {
    width: 1em;
}

th.size {
    width: 6em;
}

th.count {
    width: 8em;
}

th.header-name {
    width: 16em;
}

th.type {
    width: 8em;
}

th.icon {
    width: 24px;
}

td.icon {
    vertical-align: middle !important;
}

div.upload {
    width: 12em;
    margin-bottom: 0px;
};

span.unit {
    display: inline-block;
    min-width: 1.5em;
}

span.sort-asc:after {
    content: "↓";
}

span.sort-desc:after {
    content: "↑";
}

/* Bootstrap adds "/ " between the crumbs. To be symmetrical, this
   relies on there already being whitespace *before* the slash. This
   doens't work when AngularJS generates the crumbs with ngRepeat
   since the elements are inserted with no whitespace between them. We
   do add whitespace, though, but at the beginning of each crumb (the
   newline between <li> and <a>). This meanst that we can move the
   space to the other side of the slash. The generated " " is now at
   the beginning of the li element, and would normally be removed due
   to whitespace normalization. We can prevent this by setting the
   white-space property. */
.breadcrumb > li + li[ng-repeat]:before {
    content: " /";
    white-space: pre;
}

.popup {
    position: fixed;
    top: 15px;
    width: 100%;
}

.btn-toolbar {
    margin-bottom: 20px;
}

/* Loading animation. Put these classes on three dots and they'll
   pulse back and forth. */
.loading {
    font-size: 0px;
}

.loading * {
    font-size: 14px;
    opacity: 1;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.loading :nth-child(1) {
    animation-name: dot-1;
}
.loading :nth-child(2) {
    animation-name: dot-2;
}
.loading :nth-child(3) {
    animation-name: dot-3;
}

@keyframes dot-1 {
    0% { opacity: 0; }
    15% { opacity: 0; }
    25% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes dot-2 {
    0% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes dot-3 {
    0% { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
