<h1>Listing</h1>

<p>
  <a href="#/">Root</a> /
  <a ng-if="directory" href="#/{{ container }}">{{ container }}</a>
  <span ng-if="!directory">{{ container }}</span>
  <span ng-repeat="crumb in breadcrumbs">
    / <a href="#/{{ container }}/{{ crumb.name }}">{{ crumb.title }}</a>
  </span>
  <span ng-if="directory">
    / {{ directory }}
  </span>
</p>

<table class="table table-striped">
  <tr>
    <th ng-click="updateOrderBy('name')">Name</th>
    <th ng-click="updateOrderBy('bytes')">Size</th>
  </tr>
  <tr ng-repeat="item in items | orderBy:orderProp">
    <td><a href="#/{{ container }}/{{ item.name }}">{{ item.title }}</a></td>
    <td class="right" sb-format-bytes count="item.bytes" />
  </tr>
</table>
