<div class="page-header">
  <h1>Listing</h1>
</div>

<ol class="breadcrumb">
  <li ng-repeat="crumb in breadcrumbs" ng-class="{active: $last}">
    <a ng-if="!$last" href="#/{{ crumb.name }}">{{ crumb.title }}</a>
    <span ng-if="$last">{{ crumb.title }}</span>
  </li>
</ol>

<table class="table table-striped">
  <tr>
    <th ng-click="updateOrderBy('name')">
      Name <span ng-class="sortCls.name"></span>
    </th>
    <th ng-click="updateOrderBy('bytes')" class="size">
      Size <span ng-class="sortCls.bytes"></span>
    </th>
  </tr>
  <tr ng-repeat="item in items | orderBy:orderProp">
    <td><a href="#/{{ container }}/{{ item.name }}">{{ item.title }}</a></td>
    <td class="text-right" sb-format-bytes count="item.bytes" />
  </tr>
</table>
