<div class="page-header">
  <h1>Swift Containers</h1>
</div>

<table class="table table-striped">
  <tr>
    <th ng-click="updateOrderBy('name')">Name</th>
    <th ng-click="updateOrderBy('bytes')" class="size">Size</th>
    <th ng-click="updateOrderBy('count')" class="count">Count</th>
  </tr>
  <tr ng-repeat="container in containers | orderBy:orderProp">
    <td><a href="#/{{ container.name }}/">{{ container.name }}</a></td>
    <td class="text-right" sb-format-bytes count="container.bytes" />
    <td class="text-right">{{ container.count | number }} objects</td>
  </tr>
</table>
