<div class="modal-header">
  <h3 class="modal-title">Uploading to {{ path }}</h3>
</div>

<div class="modal-body">
  <table class="table table-condensed">
    <tr>
      <th>Name</th>
      <th class="type">Type</th>
      <th class="size">Size</th>
    </tr>
    <tr ng-repeat="file in files">
      <td>{{ file.name }}</td>
      <td>{{ file.type }}</td>
      <td class="text-right" sb-format-bytes count="file.size" />
    </tr>
    <tr ng-hide="files.length > 0">
      <td colspan="3">
        <i>No files selected…</i>
      </td>
    </tr>
  </table>
  <input class="hidden" type="file" id="file-1" multiple
         onchange="$(this).scope().fileSelected(this)" >
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left"
          onclick="$('#file-1').click()">Select File</button>
  <button class="btn btn-primary" ng-click="$close()">Upload</button>
  <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
